# ═══════════════════════════════════════════
#  ConfHub Backend — Environment Variables
#  Copy this file to .env and fill in values
# ═══════════════════════════════════════════

# ── Database ──
DB_HOST=192.168.88.110
DB_PORT=5433
DB_NAME=confhub_db
DB_USERNAME=confhub_user
DB_PASSWORD=StrongPass123

# ── JWT ──
JWT_SECRET=YXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNkYXNk

# ── Google OAuth ──
GOOGLE_CLIENT_ID=1041085898173-t169evq3enbhn964k822n2mjs0drag4g.apps.googleusercontent.com

# ── Email (SMTP) ──
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=confhub.system@gmail.com
MAIL_PASSWORD=ugev qyiy dwnf opao

# ── App URLs ──
APP_BASE_URL=http://localhost:8080
APP_FRONTEND_URL=http://localhost:3000

# ── VNPAY ──
VNPAY_TMN_CODE=ZMNARP7X
VNPAY_SECRET_KEY=3H30ARTPZYUZ4829VVM0P4BUG4GRYMRK
VNPAY_RETURN_URL=http://localhost:8080/api/v1/payment/vnpay-callback

# ── Gemini AI ──
GEMINI_API_KEYS=AIzaSyC9yRsFOr2I0YVAGAS8Dmmcfi7DWYcNKEA,AIzaSyAnrm3_l3Abl_mM35b5_lQioKZpaYeUWs8,AIzaSyAw8xMfn2EKKeCFHvxuU-RhbBBgFGSrvNY,AIzaSyAg5YdAGrwW967V9m7jjOxAQWcbo22KETI,AIzaSyDOLEafCTFZPPC69My_htxxA7BYnqUwFRc


# ── Google Custom Search (Plagiarism) ──
GOOGLE_SEARCH_API_KEY=AIzaSyDZTewqfcwcr2lxGe3KmXNYCkLH90AtYHw
GOOGLE_SEARCH_ENGINE_ID=825a256b092a34492
